<div id='snippet-name' style='display:none'>carousel</div>

<%= form_for 'options', {url: '', html: {class: 'form-horizontal', id: 'carousel_form'}} do |f| %>
  <div class="control-group">
    <label class="control-label" for="options_img1">Image 1</label>
    <div class="controls">
      <div class='input-append'>
        <input type="text" id="options_img1" placeholder="URL of image" name='options[Img1]'>
      </div>
    </div>
  </div>
<% end %>
<button class='btn btn-success add' style='margin-left:160px'>
  <i class='icon-picture icon-large'></i>  
  Add another image
</button>
