<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <% params[:options].each do |k,v| %>
      <div>
        <img src='http://src.sencha.io/292/<%= v %>'></img>
      </div>
    <% end %>
  </div>
  <a class='control' onclick='slider.prev();return false;'>‹</a>
  <a class='right control' onclick='slider.next();return false;'>›</a>
</div>

<script>
  window.slider = new Swipe(document.getElementById('slider'));
</script>
